<%- include('../partials/header.ejs') %>
<script type ="text/javascript"src ="../js/jquery.js"></script>
<div class ="container">
    <div class ="row text-center">
        <div class ="col-4"></div>
        <div class ="col-4">
            <%if(mess.error){%>
                <div class="alert alert-danger" id ="errmsg"role="alert">
                <%=mess.error%>
                </div>
                <%}%>
                <%if(mess.msg1){%>
                    <div class="alert alert-primary" id ="errmsg"role="alert">
                    <%=mess.msg1%>
                    </div>
                    <%}%>
                    <%if(mess.msg3){%>
                        <div class="alert alert-danger" id ="errmsg"role="alert">
                        <%=mess.msg3%>
                        </div>
                        <%}%>
            <h1>Librarian Login</h1><br>
            <div class ="ad-login">
                <form action ="/Admin/admin/login" method ="POST">
                <div class ="form-group"><input class ="form-control" type ="text" name ="username" placeholder ="Username or Email" required></div>
                <div class ="form-group"><input class ="form-control" type ="password" name ="password" placeholder ="Password" required></div>
                <div class ="form-group"><input class ="form-control btn btn-outline-primary" type ="submit" name ="submit"></div>
                </form>
                <p><a href ="register">Don't Have an Accout?&nbsp;Create New</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    $('#errmsg').fadeOut(2000);
    </script>
<%- include('../partials/footer.ejs') %>