<%- include('../partials/header.ejs') %>

<div class ="container">
    <div class ="row text-center">
     <div class ="col-12"><h2>Add Books</h2></div>
    </div>
    <div class ="row">
        <div class ="col-md-3 col-xs-12"></div>
        <div class ="col-md-6 col-xs-12">
            <div class ="books_enter">
                    <form action ="/admin/bookentry" method ="POST">
                    <div class ="form-group"><input class ="form-control" type ="text" name ="book_id" placeholder ="Book's Id" value="<%=bkdata.book_id%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="book_name" placeholder ="Book's Name"value="<%=bkdata.book_name%>" required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="author" placeholder ="Author" value="<%=bkdata.book_author%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="edition" placeholder ="Edition" value="<%=bkdata.book_edition%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="publication" placeholder ="Publication" value="<%=bkdata.book_publication%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="course" placeholder ="Name of the course" value="<%=bkdata.book_course%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="text" name ="department" placeholder ="Department" value="<%=bkdata.book_department%>"required></div>
                    <div class ="form-group"><input class ="form-control" type ="number" name ="book_qty" placeholder ="Number Of Books" value="<%=bkdata.book_qty%>"required></div>
                    <div class ="form-group"><input class ="form-control btn btn-outline-primary" type ="submit" name ="submit"></div>
                    </form>
            </div>
        </div>
    </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>