<%var i=0; totalfine=0;%>
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel ="stylesheet" href ="../../../css/bootstrap.min.css">
<link rel ="stylesheet" href ="../../../css/fontawesome.min.css">
<link rel ="stylesheet" href ="../../../css/animate.css">
<link rel ="stylesheet" href ="../../../css/style.css">
<script src ="/js/jquery.js"></script>
<style>
    .book_detail{
        width:100%;
        padding:6px;
    }
    .book_detail th,td{
        padding:6px;
        border:1px solid black;
    }
    .book_detail th{
        background-color:#f5f8fd;
        color:#000;
    }
    .jumbotron{
        padding:10px;
        min-height:250px;
    }
    marquee li{
        padding:15px;
        color:#413e66;
    }
    .stud_detail td,th,tr{
        border:none;
        padding:10px;
        font-size:18px;
    }
</style>
</head>
<body>
<div class ="container-fluid">
    <div class= "row text-center">
        <div class ="col-md-3 col-xs-12"><br>
            <img src ="../../../images\Logo_Pinwheel.png" class ="img-responsive" height ="150">
        </div>
        <div class ="col-md-6 col-xs-12"><br>
            <h1>Library Management System</h1>
            <h3>(NIT Jamshedpur)</h3>
        </div>
        <div class ="col-md-3 col-xs-12">
            <img src ="../../../images\images.jpg" class ="img-responsive"height ="200">
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    &nbsp;&nbsp;&nbsp;<a class="navbar-brand" href="#"><img src ="../../../images/images.png"width="40" height ="40">&nbsp;&nbsp;SignedIn As <%=currentuser%></a>
    <a href ="/Admin/admin/logout"><button class ="btn btn-danger">Logout</button></a>
</nav>
  <div class ="container-fluid">
    <div class ="row">
        <div class ="col-md-3 col-xs-12">
            <div class ="list-group">
                <div class ="list-group-item"><a href ="/Student/students/">List Of Books</a></div>
                <div class ="list-group-item"><a href ="/Student/students/search">Find book</a></div>
                <div class ="list-group-item active"><a href ="#" style ="color:white">Check Status</a></div>
            </div>
            <br>
            <div class ="searchbar">
                <form action ="/Student//students/findbooks"method ="GET">
                    <div class ="form-group"><input type ="text" name ="findtext" placeholder="Enter book or author name" class ="form-control" required pattern="[A-Za-z ]+" title ="Only alphabets are allowed"></div>
                    <div class ="form-group"><button type ="submit" name ="submit"class ="btn btn-outline-primary" style ="width:100%;" class ="form-control">Search</button></div>
                </form>
            </div>
            <br>
            <div class ="bk_notification jumbotron">
                <h4 class ="text-center"><u>Notice</u></h4>
                <ul>
                <marquee scrolldelay="10" direction="up"height="100px;" onmouseover="stop();" onmouseout="start()">
                    <li>New books for GATE  will be arriving very soon</li>
                    <li>More E-books will be added soon</li>
                    <li>Nit jamshedpur</li>
                </marquee>
                </ul>
            </div>
        </div>
        <div class ="col-md-9 col-xs-12">
           <div class ="row text-center">
               <div class ="col-md-12 col-xs-12">
                  <h2><u>Student's Detail</u></h2> 
               </div>
           </div><br><br>
           <div class ="container-fluid bg-light">
               <div class ="row">
                   <div class ="col-md-12 col-xs-12">
                    <table class ="stud_detail">
                        <tr>
                            <th>Name :</th>
                            <td><%=students[0].first%>&nbsp;<%=students[0].last%></td>
                        </tr>
                        <tr>
                         <th>Registration No :</th>
                         <td><%=students[0].registration_no%></td>
                     </tr>
                     <tr>
                         <th>Branch :</th>
                         <td><%=students[0].branch%></td>
                     </tr>
                     <tr>
                         <th>Email :</th>
                         <td><%=students[0].email%></td>
                     </tr>
                     <tr>
                         <th>Mobile No :</th>
                         <td><%=students[0].mobile_no%></td>
                     </tr>
                    </table>
                   </div>
               </div>
           </div>
            <br>
           <div class ="text-center bg-light">
            <h4>Book Issue Details</h4>
           </div>
           <br>
           <%if(students[0].reg_no){%>
            <table class ="text-center book_detail">
                <tr>
                <th>Sr.No.</th>
                <th>Book Id</th>
                <th>Issue By</th>
                <th>Issued Date</th>
                <th>Return Date</th>
                <th>Fine</th>
                </tr>
                <%students.forEach((data)=>{ i++;%>
                    
                    <tr>
                        <td><%=i%></td>
                        <td><%=data.book_id%></td>
                        <td><%=data.issued_by%></td>
                        <td><%=data.issue_date%></td>
                        <td><%=data.return_date%></td>
                        <td>Rs.<%=data.fine%></td>
                    </tr>
                    <%totalfine=totalfine+data.fine%>
               <% })%>
               <tr>
                   <th colspan="3"style ="font-size:18px;padding:10px">Total Fine</th>
                       <%if(totalfine==0){%>
                        <td colspan="4">
                        Rs.<%=totalfine%>
                    </td>
                        <%}else{%>
                            <td colspan="4" style ="font-size:20px;color:red;">
                            Rs.<%=totalfine%>
                            </td>
                        <%}%>
                
               </tr>
            </table>
            <%}else{%>
                <h3 class ="text-center">No Book Issued</h3>
                <%}%>
                <br>
                <div class ="text-center">
                    <a href="/Student/students/downloadpdf/<%=students[0].registration_no%>">
                        <button class ="btn btn-outline-primary" value= "<%=students[0].registration_no%>" name ="submit">
                        Downlaod PDF
                        </button>
                    </a>
                </div>
                
        </div>
    </div>
</div>
<script>
    $('#msg').fadeOut(2000);
    </script>

<%- include('../partials/footer.ejs') %>